<a href="https://colab.research.google.com/github/vivekkchandra/CE888/blob/master/helper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from IPython.display import Image
np.set_printoptions(precision = 3)

In [3]:
#Upload file in sample_data folder
df = pd.read_csv('jester-data-1.csv', header=None)
print(df)

       0      1      2      3      4    ...    96     97     98     99     100
0       74  -7.82   8.79  -9.66  -8.16  ...  99.00  -5.63  99.00  99.00  99.00
1      100   4.08  -0.29   6.36   4.37  ...  -2.14   3.06   0.34  -4.32   1.07
2       49  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
3       48  99.00   8.35  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
4       91   8.50   4.61  -4.17  -5.39  ...   1.55   3.11   6.55   1.80   1.60
...    ...    ...    ...    ...    ...  ...    ...    ...    ...    ...    ...
24978  100   0.44   7.43   9.08   2.33  ...   9.03   6.55   8.69   8.79   7.43
24979   91   9.13  -8.16   8.59   9.08  ...  -8.20  -7.23  -8.59   9.13   8.45
24980   39  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
24981   37  99.00  99.00  99.00  99.00  ...  99.00  99.00  99.00  99.00  99.00
24982   72   2.43   2.67  -3.98   4.27  ...  99.00  99.00  99.00  99.00  99.00

[24983 rows x 101 columns]

In [5]:
array = df.values
print(array.shape)
print(array)

(24983, 101)
[[ 74.    -7.82   8.79 ...  99.    99.    99.  ]
 [100.     4.08  -0.29 ...   0.34  -4.32   1.07]
 [ 49.    99.    99.   ...  99.    99.    99.  ]
 ...
 [ 39.    99.    99.   ...  99.    99.    99.  ]
 [ 37.    99.    99.   ...  99.    99.    99.  ]
 [ 72.     2.43   2.67 ...  99.    99.    99.  ]]

In [8]:
rate = np.where(array !=99)
print(rate)
print(len(rate[0]), rate[1].shape)

(array([    0,     0,     0, ..., 24982, 24982, 24982]), array([ 0,  1,  2, ..., 70, 71, 87]))
1835357 (1835357,)

In [9]:
a1=([[4, 5, 6],
    [7, 5, 9]])
np.where(a1 == 5)

(array([], dtype=int64),)

In [0]:
def replace(orig, percentage=0.1):
  new_data = orig.copy()
  rate = np.where(array!=99)
  n_rate = len(rate[0])
  idx = np.random.choice(n_rate, size=int(percentage*n_rate), replace=False)
  new_data[rate[0][idx], rate[1][idx]] = 99
  return new_data, (rate[0][idx], rate[1][idx])

In [0]:
new_array, idx = replace(array, 0.1)

In [0]:
array[idx[0][0], idx[1][0]]

-8.98

In [18]:
new_array[idx[0][0], idx[1][0]]

99.0